.container {
    height: 180vh;
}
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    25% {
        
        opacity: 0.4;
    }
    50% {

        opacity: 0.6;
    }
    70% {

        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translateY(-180vh);
    }
    
    
}